@font-face {
    font-family: 'Alata';
    src: url('../fonts/Alata-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Alata';
}

div#container {
    display: grid;
    grid-template-columns: 100%;
}

div {
    box-sizing: border-box;
}

div#perfiladmin {
    background: #000;
    padding: 0 0 10px 0;
}

img#img-1 {
    width: 150px;
    height: 70px;
    position: absolute;
    top: -2px;
}

div.perfil-admin {
    width: 200px;
    float: right;
    text-align: center;
    padding: 10px 0 0 0;
}

div.perfil-admin ion-icon {
    position: relative;
    top: 5px;
    font-size: 20px;
}

#icon-1 {
    position: relative;
    right: -5px;
    width: 11px;
    height: auto;
}

#icon-2 {
    position: relative;
    right: -5px;
    width: 11px;
    height: auto;
    display: none;
}

div.perfil-admin ion-icon:hover {
    cursor: pointer;
}

div.perfil-admin img {
    width: 45px;
    height: 45px;
    background: none;
    position: relative;
    right: 5px;
    margin-right: 10px;
}

section#section-perfil {
    display: inline-flex;
}

section#section-perfil h3 {
    margin-top: 20px;
    color: #fff;
}

section#section-opc {
    width: 130px;
    padding: 0 5px 0 10px;
    margin: 10px 0 0 55px;
    display: none;
    position: absolute;
    background: #000;
    border-radius: 0 0 0 10px;
    z-index: 999;
}

section#section-opc li {
    list-style: none;
    padding: 10px 0 0 0;
}

section#section-opc li a {
    text-align: center;
    text-decoration: none;
    padding: 10px 0 0 0;
    font-size: 18px;
    color: #fff;
}

section#section-opc a:hover {
    text-decoration: underline;
}

section#section-opc button {
    background: #fd79a8;
    width: 100%;
    padding: 7px;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: none;
    margin: 30px 0 10px 0;
    font-size: 15px;
    transition: 0.4s background;
}

img#arrow-left {
    padding: 10px;
    font-size: 3rem;
    width: 70px;
    height: 50px;
    color: #fff;
    background: #2ecc71;
    position: absolute;
    top: 85px;
    left: 15px;
    border-radius: 8px;
}

div#div-music {
    margin: 20px auto;
}

#musica {
    padding: 0 80px 0 0;
}

table.table-music {
    width: 500px;
    font-size: 15px;
    border-radius: 5px 5px 0 0;
}

table.table-music thead th {
    text-align: center;
    background: #74b9ff;
    color: #fff;
    padding: 5px;
}

table {
    font-size: 20px;
    border-collapse: collapse;
}

table thead th {
    font-size: 18px;
    background: #74b9ff;
    color: #fff;
}

tfoot {
    background: none;
}

table tr {
    text-align: center;
}

table td {
    padding: 5px;
}

.eliminar-cancion {
    width: 140px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    background: rgba(231, 76, 60, 0.8);
    outline: none;
    transition: 0.1s background;
    float: right;
}

.eliminar-cancion:hover {
    background: rgba(231, 76, 60, 1.0);
    cursor: pointer;
}

.demo {
    width: 100%;
    margin: auto;
}

input[type="checkbox"] {
    display: none;
    position: relative;
    top: 0px;
    left: 100px;
}

input[type="checkbox"]+label span {
    display: block;
    width: 20px;
    height: 20px;
    margin: -1px 4px 0 0;
    background: url(../image/frame.png);
    background-size: cover;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 100px;
}

input[type="checkbox"]:checked+label span {
    background: url(../image/check.png);
    background-size: cover;
}