@font-face {
    font-family: 'Alata';
    src: url('../fonts/Alata-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Alata';
    overflow-x: hidden;
}

div#container {
    display: grid;
    grid-template-columns: 100%;
}

div {
    box-sizing: border-box;
}

div#perfiladmin {
    background: #000;
    padding: 0 0 10px 0;
}

img#img-1 {
    width: 150px;
    height: 70px;
    position: absolute;
    top: -2px;
}

div.perfil-admin {
    width: 200px;
    float: right;
    text-align: center;
    padding: 10px 0 0 0;
}

#icon-1 {
    position: relative;
    right: -5px;
    width: 11px;
    height: auto;
}

#icon-2 {
    position: relative;
    right: -5px;
    width: 11px;
    height: auto;
    display: none;
}

div.perfil-admin img:hover {
    cursor: pointer;
}

div.perfil-admin img {
    width: 45px;
    height: 45px;
    background: none;
    position: relative;
    right: 5px;
    margin-right: 10px;
}

section#section-perfil {
    display: inline-flex;
}

section#section-perfil h3 {
    margin-top: 20px;
    color: #fff;
}

section#section-opc {
    width: 130px;
    padding: 0 5px 0 10px;
    margin: 10px 0 0 0;
    display: none;
    position: absolute;
    background: #000;
    border-radius: 0 0 0 10px;
    z-index: 999;
}

section#section-opc li {
    list-style: none;
    padding: 10px 0 0 0;
}

section#section-opc li a {
    text-align: center;
    text-decoration: none;
    padding: 10px 0 0 0;
    font-size: 18px;
    color: #fff;
}

section#section-opc a:hover {
    text-decoration: underline;
}

section#section-opc button {
    background: #fd79a8;
    width: 100%;
    padding: 7px;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: none;
    margin: 30px 0 10px 0;
    font-size: 15px;
    transition: 0.4s background;
}

div#btn {
    display: grid;
    grid-template-columns: 15% auto;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    padding: 60px 0 0 0;
}

div#btn button {
    padding: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
    background: #74b9ff;
    outline: none;
    opacity: 0.8;
    transition: 0.1s background, 0.3s opacity;
}

div#btn button:hover {
    opacity: 1;
    cursor: pointer;
}

div#btn img {
    width: 90px;
}

table {
    font-size: 20px;
    border-collapse: collapse;
}

table thead th {
    padding: 5px;
    text-align: center;
    background: #74b9ff;
    color: #fff;
}

table.table thead th {
    text-align: center;
    background: #74b9ff;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

tfoot {
    background: none;
}

table tr {
    text-align: center;
}

table td {
    padding: 5px;
}

td.precio {
    text-align: right;
}

tr:nth-child(even) {
    background: #dfe6e9;
}

div#div-music {
    display: none;
    margin: 40px auto auto auto;
}

table.table-music {
    font-size: 25px;
    border-radius: 5px 5px 0 0;
}

table.table-music thead th {
    text-align: center;
    background: #74b9ff;
    color: #fff;
}

table.table-music tbody td,
table.table-music thead th {
    padding: 0 20px 0 20px;
}

img#arrow-left {
    padding: 4px;
    font-size: 3rem;
    width: 100px;
    color: #fff;
    background: #2ecc71;
    position: absolute;
    top: 85px;
    left: 15px;
    border-radius: 5px;
}