@import "componentes/headerPerfiles";
@import "componentes/mixins";
img#arrow-left {
    @include arrow-left;
}
/*
* Se selecciona el elemento 'div' que tiene un id llamado 'div-categorias'
*/
div#div-categorias {
    /*
    * Tiene las propiedades
    'display: grid' En contenido se divide en columnas 
    'grid-template-columns: 55% 45%' Las columnas seran dos. La primera ocupara el 55% y la segunda ocupa el 45%
    */
    display: grid;
    grid-template-columns: 55% 45%;
}
/*
* Se seleciona el elemento 'div' que tiene una clase llamada 'realizar-pedidos'
*/
div.realizar-pedidos {
    /*
    * Tiene las propiedades
    'width: 80%' Tiene un ancho del 80%
    'padding: 15px' Tiene una margen interna de 15 pixeles en todo sus lados (superior,derecho,inferior,izquierdo)
    'height: auto' Tiene una altura automatica para que se acomode al contenido
    'text-align: center' La alineación del texto es centrada
    'border: 1px solid #ccc' Tiene un borde solido de 1 pixel de grosor y es de color gris
    'position: relative' La posición es relativa. Entonces se acomoda de acuerdo a los otro elemento
    'left: 150px' Esta posicionado 150 pixeles de la izquerda 
    'top: 25px' Esta posicionado 25 pixeles hacia abajo
    'border-radius: 5px' Tiene un borde redondeado de 5 pixeles en todas las esquinas
    */
    width: 80%;
    padding: 15px;
    height: auto;
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
    left: 150px;
    top: 25px;
    border-radius: 5px;
}
/*
* Se selecciona el elemento 'div' que tiene una clase llamada 'btn-categorias'
*/
div.btn-categorias {
    /*
    * Tiene las propiedades
    'width: 100%' Tiene un ancho del 100% 
    'padding: 20px 0 20px 0' Tiene una margen interna de 20 pixeles en los lados superior e inferior y tiene 0 pixeles en los lados
    * derecho y izquierdo
    */
    width: 100%;
    padding: 20px 0 20px 0;
}
/*
* Se selecciona el elemento 'select' que esta dentro del elemento 'div' que tiene una clase llamada 'btn-categorias'
*/
div.btn-categorias select {
    /*
    * Tiene las propiedades
    'float: left' Esta posicionado a la izquierda
    'margin: 0 10px 0 0' Tiene una margen externa de 10 pixeles en el lado izquierdo
    'width: 120px' TIene un ancho de 120 pixeles
    'padding: 3px' Tiene una margen interna de 3 pixeles
    */
    float: left;
    margin: 0 10px 0 0;
    width: 120px;
    padding: 3px;
}
/*
* Se selecciona el elemento 'button' que esta dentro del elemento 'div' que tiene una clase 'btn-categorias'
*/
div.btn-categorias button {

    position:relative;// Tiene una posición relative con respecto a los elementos a su alrededor
    float:left; // Esta posicionado a la izquierda
    left:-10px; // Tiene -10 pixeles para que se mueva mas a la izquierda
    top:-8px; // Tiene -8 pixeles para que se mueva mas hacia abajo
    @include boton-modificar;
}
/*
* Se selecciona el elemento 'img' que esta dentro del elemento 'button' y estos elemento estan dentro 
* del elemento 'div' que tiene una clase llamada 'btn-categorias'
*/
div.btn-categorias button img {
    /**
    * Tiene las propiedades
    * 'width: 20px' Tiene un ancho de 20 pixeles 
    * 'position: relative' Tiene una posición relative con respecto a los elementos a su alrededor
    * 'top: 5px' Tiene 5 pixeles en la lado superior
    * 'left: 10px' Tiene 10 pixeles en la lado Izquierdo
    */
    width: 20px;
    position: relative;
    top: 5px;
    left: 10px;
}
/*
* Se selecciona el elemento 'table' que esta dentro de un elemento 'div' que tiene una clase llamada 'tabla-producto'
*/
.tabla-producto table {
    @include tabla-productos;
}
/*se selecciona el elemento 'th' que esta dentro del elemento 'thead' y los dos elementos estan dentro del elemento 'table'*/
table thead th {
    @include header-tabla;
}
/*Se selecciona el elemento 'tr' que esta dentro del elemento 'table'*/
table tr {
    @include tr-tabla;
}
/* Se selecciona el elemento 'td' que esta dentro del elemento 'table'*/
table td {
    /*
    * Tiene las propiedades
    * 
    * 'padding:10px' Tiene una margen interna de 10 pixeles en todos sus lados
    */
    padding:10px;
}
/*Se selecciona el elemento 'div' que tiene una clase llamada 'tabla-prroducto'*/
div.tabla-producto {
    /*
    * Tiene las propiedades
    *
    * 'margin: 20px 0 0 0' Tiene una margen externa de 30 pixeles en el lado superior y 0 en los demas lados (derecho,inferior,izquierdo)
    * 'padding: 30px 0 0 0' Tiene una margen interne de 30 pixeles en el lado superior (derecho,inferior,izquierdo)
    */
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;
}
/*
* Se selecciona el elemento 'select' que esta dentro de un elemento 'div' que tiene una clase llamda 'pedido'
*/
div.pedido select {
    /*
    * Tiene las propiedades
    * 
    * 'width: 100px' Tiene un ancho de 100 pixeles 
    * 'margin: 10px 0 10px 0' Tiene una margen de 10 pixeles en los lados superior y inferior y 0 pixeles en los demas (derecho y izquierdo)
    */
    width: 100px;
    margin: 10px 0 10px 0;
}
/**
* Se selecciona el elemento 'a' que tiene un id llamado 'agregar-producto'
*/
a#agregar-producto {
    @include boton-modificar;
}
/**
* Se selecciona el elemento 'a' que tiene un id llamado 'agregar-producto' Y se le agrega ':hover' para saber cuando el usuario
* ponga el mouse sobre el elemento
*/
a#agregar-producto:hover {
    @include boton-tabla-hover;
}
/**
* Se selecciona el elemento 'div' que tiene una clase llamada 'tabla-pedido'
*/
div.tabla-pedido {
    /**
    * Tiene las propiedades
    *
    * 'display: inline-flex' Para que los elemento que estan dentro del 'div' se posiciones uno al lado del otro
    * 'padding: 30px 0 0 0' Tiene una margen interna de 30 pixeles en el lado superior y 0 pixeles en los demas lados (derecho,inferior,izquierdo)
    
    */
    display: inline-flex;
    padding: 30px 0 0 0;
}
/*
* Se selecciona el elemento 'div' que tiene una clase llamada 'tabla-pedido'
*/
.tabla-pedido div {
    /*
    * Tiene las propiedades 
    *
    'border: 1px solid #ccc' Tiene un borde solido de 1 pixel de grosor y el borde es de color gris
    'width: 20%' Tiene un ancho de 20% 
    'height: 50px' Tiene una altura de 50 pixeles
    'display: flex' Con display flex perimite que los elementos que esten dentro del 'div' Sean flexibles y se puedan acomodar mejor 
    * a ciertas propiedades que se le establzcan
    'align-items: center' Los elementos que esten dentro del elemento 'div' estan en el centro del elemento 
    'justify-content: center' Todo el contendio que este dentro del elemento 'div' estara centrado
    'position: relative' la posisción del elemento 'div' es relativa
    'left: 70px' Tiene 70 pixeles con respecto a la izquierda
    */
    border: 1px solid #ccc;
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 70px;
}
/*
* El elemento 'div' con la clase 'tabla-pedido' contiene otros dos elementos 'div'
*/

/*
* Se selecciona el elemento 'div' que esta dentro de un elemento 'div' que tiene una clase llamada 'tabla-pedido'
* se le agrega ':nth-child()' para selecionar un elemento en especifico dentro de los parentesis se pone el número 
* del elemento que se va a seleccionar
* 
*/
div.tabla-pedido div:nth-child(1) {
    /*
    * Tiene las propiedades
    *
    * 'border-radius: 5px 0 0 5px' Tiene bordes redondeados de 5px en las esquinas superior izquierda y la inferior izquierda
    * 'border-right: none'
    */
    border-radius: 5px 0 0 5px;
    border-right: none;
}
/*
* Se selecciona el elemento 'div' que esta dentro de un elemento 'div' que tiene una clase llamada 'tabla-pedido'
* se le agrega ':nth-child()' para selecionar un elemento en especifico dentro de los parentesis se pone el número 
* del elemento que se va a seleccionar
*/
.tabla-pedido div:nth-child(2) {
    /*
    * Tiene las propiedades 
    *
    * 'border-radius: 0 5px 5px 0' Tiene bordes redondeados en las esquinas superior derecha y en la inferior derecha
    */
    border-radius: 0 5px 5px 0;
}
/*
* Se selecciona el elemento 'div' que esta dentro de un elemento 'div' que tiene una clase llamada 'tabla-pedido'
* se le agrega ':nth-child()' para selecionar un elemento en especifico dentro de los parentesis se pone el número 
* del elemento que se va a seleccionar y se le agrega ':hover' para saber cuando el usuario ponga en cursor sobre el elemento
*/
.tabla-pedido div:nth-child(2):hover {
    /*
    * Tiene las propiedades
    *
    * 
    'background: rgba(52, 152, 219, 0.7)' Tiene un fondo de color azul con una opacidad de 0.7 
    'cursor: pointer' El cursor tiene una forma de mano
    'transition: 0.3s all' Cuando el elemento 'div' tenga algun cambio tendra una transición de 0.3 y 'all' es para todos los cambios 
    * que tenga
    */
    background: rgba(52, 152, 219, 0.7);
    cursor: pointer;
    transition: 0.3s all;
}

/*
* Se selecciona el elemento 'a' que esta dentro del elemento'div' que esta dentro de un elemento 'div' que tiene una 
* clase llamada 'tabla-pedido' se le agrega ':nth-child()' para selecionar un elemento en especifico dentro de los 
* parentesis se pone el número del elemento que se va a seleccionar y se le agrega ':hover' para saber cuando el usuario 
* ponga en cursor sobre el elemento
*/

.tabla-pedido div:nth-child(2):hover a {
    /*
    * Tiene las propiedades
    *
    * 'color: #fff' El color de la letra es de color blanco
    */
    color: #fff;
}