@charset "UTF-8";
/*@font-face es para definir la letra que va a llevar todo el documento
*font-family es para definir el nombre del tipo de letra en este caso 'Alata'
*src: url() se le pasa la ruta para la que encuentre el archivo de la letra.
*/
@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.ttf");
}
/*
* Con "*" se defines los valores que va a llevar todo el documento
* En este caso se ponen 'margin:0' y 'padding:0' para que no tengan ningun tipo de margenes.
* también se pone 'font-family:'Alata' para que todo lo que sea texto lleve este tipo de letra. y si llega a fallar algo
* 'sans-serif' sera el tipo de letra como segundo opción
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

/*
* Se difine 'html' para definir el documento 'scroll-behavior:smooth' es para que cuando se haga scroll en documento
* html el scrool sea 'suave'
*/
html {
  scroll-behavior: smooth;
}

/*
* Se obtiene un div con id "container" se define que sea grid para que permita hacer columnas
* 'grid-template-columns: 100%' para que las columnas sea del 100% para que ocupen todo el tamño de la pantalla
*/
div#container {
  display: grid;
  grid-template-columns: 100%;
}

/*
* Se obtiene el div con id "header" que es el que contiene el menú
* Se define 'position: fixed' para que cuando el usuario haga scroll el menú se quede fijo y siempre este visible,
* tendra un "width: 100%" para que ocupe todo el ancho de la pagina,'height: auto' para que el alto se acomode al contenido
* 'z-index: 999' para que cuando el usuario haga scroll el menú no quede por debajo del los demas elementos.
*/
div#header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 999;
}

/*
* 'nav' es la etiqueta que define el menú
* 'background: #010101' sera para que tenga un fondo de color negro
* 'padding: 20px 20px 20px 5px' son la margenes internas
   - el primer valor es la margen superior
   - El segundo valor es la margen de la derecha
   - El tercer valor es la margen inferior
   - El cuarto valor es la margin de la izquierda
*/
nav {
  background: #010101;
  padding: 20px 20px 20px 5px;
  box-sizing: border-box;
}

/*
* 'nav img' se hace para hacer un selector a las imagenes que estén dentro de nav
* 'nav' es la etiqueta que define el menú 
* 'img' es una imagen que esta dentro del nav
*   'width: 150px' La imagen tendrá un ancho del 150 pixeles
    'height: 70px' La imagen tendrá un alto de 70 pixeles
    'position: absolute' la posición sera absoluta (que siempre estara en esa posición)
    'top: -2px' y tendra -2 pixeles hacia arriba
*/
nav img {
  width: 150px;
  height: 70px;
  position: absolute;
  top: -2px;
}

/*
* 'nav ul' se hace para hacer un selector a las listas que estén dentro de nav
* 'nav' es la etiqueta que define el menú 
* 'ul' es la lista que esta dentro del nav
*   'display: flex' los elementos que esten desde del 'ul' seran flexibles a las propiedades que se le definan
    'color: white' El color de los elementos dentro de 'ul' seran de color blanco 
    'justify-content: flex-end' El contenido estará en al parte derecha
    'list-style: none' lo estilos de lista (puntos, guiones,asteriscos) no seran visibles
    'text-decoration: none' Los elementos dentro de ul no estarán subrayados
*/
nav ul {
  display: flex;
  color: white;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
}

/*
* 'nav img' se hace para hacer un selector a las imagenes que estén dentro de nav
* 'nav' Es la etiqueta que define el menú 
* 'li' Es para definir  un elemento de la lista
* 'a' Es para definir un enlace 
*   'color: white' Es para definir que los elementos 'a' van a tener color blanco
    'text-decoration: none' Es para definir que los elementos 'a' no van a estar subrayados
    'padding: 0px 0px 10px 20px' Es para definir la margenes internas de los elementos 'a'
        - el primer valor es la margen superior
        - El segundo valor es la margen de la derecha
        - El tercer valor es la margen inferior
        - El cuarto valor es la margin de la izquierda
    'transition: 0.1s color' Es para definir la transición de los elementos 'a' cada ves que tenga algun cambio sera lento
    'font-size: 15px' Es para definir el tamaño de la letra de los elementos 'a'
*/
nav li a {
  color: white;
  text-decoration: none;
  padding: 0px 0px 10px 20px;
  transition: 0.1s color;
  font-size: 15px;
}

/* 'a:hover' Es para definir que cuando se ponga el mouse sobre un enlace se ponga de color Azul */
nav li a:hover {
  color: #0095FF;
}

/**
* Se selecciona el elemeton 'ion-icon' que es el icono del menú que sese muestra cuando la pantalla es muy pequeña
* Pero cuando la pantalla es amplia se ecnuetra oculto
*/
#icon-menu {
  /*
  * Tiene las propiedades 
  *
  * 'display:none' Con display none se oculta el icono y no es visible para el usuario
  */
  display: none;
}

/*Se selcciona el elemento 'div' que tiene un id llamado 'formulario'*/
div#formulario {
  height: 400px;
  margin: 60px 0 0 0;
  padding: 20px;
}

/*Se selcciona el elemento 'div' que tiene un id llamado 'div-inicio-sesion'*/
div.div-inicio-sesion {
  /*El formulario tendra las propiedades

  'width: 30%' Tendra un ancho del 30% 
  'height: auto' El alto sera automatico para que se acomode dependiendo los elementos que estén dentro de el
  'margin: 50px auto auto auto'Es la margen del elemento 60 pixeles en la parte superior y el resto en 0
      - el primer valor es la margen superior
      - El segundo valor es la margen de la derecha
      - El tercer valor es la margen inferior
      - El cuarto valor es la margin de la izquierda

  'padding: 30px 30px 20px 30px' Es la margen interna del div tiene 30 pixeles en la parte superior,inferior y a la derecha
      - el primer valor es la margen interna superior
      - El segundo valor es la margen internade la derecha
      - El tercer valor es la margen interna inferior
      - El cuarto valor es la margin interna de la izquierda
  'border: 1px solid #ccc' Es el borde del elemento del div
      - El primer valor es el ancho del borde
      - El segundo es el estilo del borde (solid,dotted,dashed,double,groove,...)
      - El tercer valor es el color del borde
  'border-radius: 5px' Tendra 5 pixeles en los bordes
  'box-sizing: border-box ' Para cuando se definan las margenes internas su tamaño no cambie

  */
  width: 30%;
  height: auto;
  margin: 50px auto auto auto;
  padding: 30px 30px 20px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/*Se selcciona el elemento 'h3' que esta dentro del elemento 'form'*/
form h3 {
  /**
  * Tiene las propiedades
  *
  * 'font-size: 25px' Tiene un tamaño de fuente de 25 pixeles
  */
  font-size: 25px;
}

/*Se selcciona el elemento 'input' y 'select'  que esta dentro del elemento 'div' que tiene un id llamado 'formulario-1'*/
form#formulario-1 input, select {
  /*
  los inputs tendra las propiedades
  * 
  'display: block' Para que todos estén en bloque(Uno debajo del otro)
  'margin-top: 10px' La margen que tendra 10 pixeles en todos los lados
  'width: 95%' un ancho del 95%
  'padding: 7px' la margen interna de 7 pixeles en todos los lados
  'border-radius: 5px' los border de 5 pixeles en todos los lados
  'border: 1px solid #b2bec3' Es el borde del input
      - El primer valor es el ancho del borde
      - El segundo es el estilo del borde (solid,dotted,dashed,double,groove,...)
      - El tercer valor es el color del borde
  'outline: none' La linea exterior del input no sea visible
  */
  display: block;
  margin-top: 10px;
  width: 96%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #b2bec3;
  outline: none;
}

/*Se selcciona el elemento 'input' y 'select'  que esta dentro del elemento 'div' que tiene un id llamado 'formulario-1'
* Y se le agrega ':focus' para sber cuando el usuario haga click sobre el elemento
*/
form#formulario-1 input:focus, select:focus {
  /*
  *  Los inputs tiene las propiedades
  'border: 1px solid #0984e3' Es el borde del input
      - El primer valor es el ancho del borde
      - El segundo es el estilo del borde (solid,dotted,dashed,double,groove,...)
      - El tercer valor es el color del borde
  'box-shadow: 0 0 5px #74b9ff' Es la sombra que tendra
  - El primer valor del eje x
  - El segundo valor del eje y
  - El tercer valor es el color
  */
  border: 1px solid #0984e3;
  box-shadow: 0 0 5px #74b9ff;
}

/*Se selcciona el elemento select' que esta dentro del elemento 'form'*/
select {
  /*
  * Tiene las propiedades
  * 'width: 100%' Tiene una ancho del 100%
  */
  width: 100%;
}

/*Se selcciona el elemento 'input' que esta dentro del elemento 'form' que tiene un id llamado 'formulario-1'

**/
form#formulario-1 input[type=submit] {
  /*
   * El input de envio tiene las propiedades
   'width: 100%' Tendra un ancho del 100% 
   'padding: 7px 0 7px 0' las margenes internas son 7 pixeles en al parte superior y inferior
   'border-radius: 5px' Los border de las esquinas son de 5 pixeles
   'border: none' No tendrá un border
   'color: white' El color de la letra sera Blanca
   'margin: 15px 0 10px 0' Las margenes externas seran de 15 pixeles en la parte superior y 10 pixeles en la parte inferior
   'font-size: 15px' El tamaño de la letra sera de 15 pixeles
   'background: #74b9ff' El fondo del botón sera de color azul 
  ' outline: none' No tendra un border externo
   'transition: 0.1s background ' Y la transion de cualquier cambio sera de 1 milisegundo para que no sea tan brusco
   */
  width: 100%;
  padding: 7px 0 7px 0;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 15px 0 10px 0;
  font-size: 15px;
  background: #74b9ff;
  outline: none;
  transition: 0.1s background;
}

form#formulario-1 input[type=submit]:hover {
  /*
  * El input de envio tiene las propiedades
    'background: #0984e3' El fondo de color azul
    'cursor: pointer' El cursor sera una manito
  */
  background: #0984e3;
  cursor: pointer;
}

form#formulario-1 button {
  /*
   * El input de envio tiene las propiedades
   'width: 100%' Tendra un ancho del 100% 
   'padding: 7px 0 7px 0' las margenes internas son 7 pixeles en al parte superior y inferior
   'border-radius: 5px' Los border de las esquinas son de 5 pixeles
   'border: none' No tendrá un border
   'color: white' El color de la letra sera Blanca
   'margin: 15px 0 10px 0' Las margenes externas seran de 15 pixeles en la parte superior y 10 pixeles en la parte inferior
   'font-size: 15px' El tamaño de la letra sera de 15 pixeles
   'background: #74b9ff' El fondo del botón sera de color azul 
  ' outline: none' No tendra un border externo
   'transition: 0.1s background ' Y la transion de cualquier cambio sera de 1 milisegundo para que no sea tan brusco
   */
  width: 100%;
  padding: 7px 0 7px 0;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 15px 0 10px 0;
  font-size: 15px;
  background: #74b9ff;
  outline: none;
  transition: 0.1s background;
  background: rgba(253, 121, 168, 0.9);
}

form#formulario-1 button:hover {
  /*
  * El input de envio tiene las propiedades
    'background: #0984e3' El fondo de color azul
    'cursor: pointer' El cursor sera una manito
  */
  background: #0984e3;
  cursor: pointer;
  background: #fd79a8;
}

/*
* Se seleciona el elemnto div que tiene una clase 'overlay'
*/
.overlay {
  /*
  * Tiene las propiedades 
  'background: rgba(45, 52, 54, 0.8)' Tiene un fondo de color gris con 0.8 de opacidad
  'position: fixed' Tiene una posición fixed para que se quede fijo
  'top: 0','bottom: 0','left: 0','right: 0' Tiene 0 para que quede centrado
  'display: flex' Tiene flex para que todo sus contenido sea flexible
  'justify-content: center' Tiene el contenido centrado
  'visibility: hidden' Tiene la visibilidad hidden para que no sea visible
  */
  background: rgba(45, 52, 54, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

/*
* Se seleciona el elemento div que tiene una clase 'active' que sts dentro del elemento div con una clase 'overlay'
*/
.overlay.active {
  /*
  * Tiene las propiedades
  'visibility: visible' Tiene 'visible' para que sea visible
  */
  visibility: visible;
}

/*
* Se seleciona el elemnto div que tiene una clase 'popup'
*/
.popup {
  /*
  * Tiene las propiedades 
  'background: #fff' 
  'border-radius: 5px'
  'width: 340px'
  'height: 250px'
  'padding: 10px 10px'
  'transform: scale(0.7)'
  'margin-top: 150px'
  'margin-left: 0px'
  'box-sizing: border-box'
  */
  background: #fff;
  border-radius: 5px;
  width: 340px;
  height: 280px;
  padding: 10px 10px;
  transform: scale(0.7);
  margin-top: 150px;
  margin-left: 0px;
  box-sizing: border-box;
}

/*
* Se seleciona el elemento button que tiene una clase 'btn-cerrar-popup'
*/
.btn-cerrar-popup {
  /*
  * Tiene las propiedades
  'float: right' Tiene right para que este flotando a la derecha
  'font-size: 23px' Tiene un tamaño de fuente de 23 pixeles 
  */
  float: right;
  font-size: 23px;
}

/*
* Se seleciona el elemento button que tiene una clase 'btn-cerrar-popup' se le agrega ':hover' para saber cuando pone el mouse sobre
* el elemento
*/
.btn-cerrar-popup:hover {
  /*
  * Tiene las propiedades
  'color: #e74c3c' Tiene un color rojo
  'cursor: pointer' Tiene un cursor en forma de mano

  */
  color: #e74c3c;
  cursor: pointer;
}

/*
* Se seleciona el elemento div que tiene una clase '.active'
*/
.popup.active {
  /*
  * Tiene las propiedades
  'opacity: 1' Tiene una opacidad de 1 (oculto
  'transform: scale(1)' Una escala de 1
  */
  opacity: 1;
  transform: scale(1);
}

div.texto-popup {
  padding: 10px 20px;
}

div.texto-popup h3 {
  margin-top: 20px;
}

/*
* Se selecciona el elemento form que esta dentro de un div con clase 'text-poup'
*/
div.text-popup form {
  /*
  * Tiene las propiedades
  'display: block' Tiene block par que todos los elementos esten uno debajo del otro

  */
  display: block;
}

div.texto-popup form input[type=email] {
  /*
  los inputs tendra las propiedades
  * 
  'display: block' Para que todos estén en bloque(Uno debajo del otro)
  'margin-top: 10px' La margen que tendra 10 pixeles en todos los lados
  'width: 95%' un ancho del 95%
  'padding: 7px' la margen interna de 7 pixeles en todos los lados
  'border-radius: 5px' los border de 5 pixeles en todos los lados
  'border: 1px solid #b2bec3' Es el borde del input
      - El primer valor es el ancho del borde
      - El segundo es el estilo del borde (solid,dotted,dashed,double,groove,...)
      - El tercer valor es el color del borde
  'outline: none' La linea exterior del input no sea visible
  */
  display: block;
  margin-top: 10px;
  width: 96%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #b2bec3;
  outline: none;
}

div.texto-popup form input[type=email]:focus {
  /*
  *  Los inputs tiene las propiedades
  'border: 1px solid #0984e3' Es el borde del input
      - El primer valor es el ancho del borde
      - El segundo es el estilo del borde (solid,dotted,dashed,double,groove,...)
      - El tercer valor es el color del borde
  'box-shadow: 0 0 5px #74b9ff' Es la sombra que tendra
  - El primer valor del eje x
  - El segundo valor del eje y
  - El tercer valor es el color
  */
  border: 1px solid #0984e3;
  box-shadow: 0 0 5px #74b9ff;
}

input[type=submit] {
  /*
   * El input de envio tiene las propiedades
   'width: 100%' Tendra un ancho del 100% 
   'padding: 7px 0 7px 0' las margenes internas son 7 pixeles en al parte superior y inferior
   'border-radius: 5px' Los border de las esquinas son de 5 pixeles
   'border: none' No tendrá un border
   'color: white' El color de la letra sera Blanca
   'margin: 15px 0 10px 0' Las margenes externas seran de 15 pixeles en la parte superior y 10 pixeles en la parte inferior
   'font-size: 15px' El tamaño de la letra sera de 15 pixeles
   'background: #74b9ff' El fondo del botón sera de color azul 
  ' outline: none' No tendra un border externo
   'transition: 0.1s background ' Y la transion de cualquier cambio sera de 1 milisegundo para que no sea tan brusco
   */
  width: 100%;
  padding: 7px 0 7px 0;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 15px 0 10px 0;
  font-size: 15px;
  background: #74b9ff;
  outline: none;
  transition: 0.1s background;
  margin: -40px 0;
}

input[type=submit]:hover {
  /*
  * El input de envio tiene las propiedades
    'background: #0984e3' El fondo de color azul
    'cursor: pointer' El cursor sera una manito
  */
  background: #0984e3;
  cursor: pointer;
}